body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  margin: 0;
  flex-direction: column;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #ffb6c1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff80a5;
}

#messageBox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffb6c1;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#heartsContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hidden {
  display: none;
}

.heart {
  position: absolute;
  font-size: 30px;
  color: #ff1493;
  animation: moveHeart 2s forwards;
}

@keyframes moveHeart {
  0% {
    opacity: 1;
    transform: scale(0.5) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translateY(-300px);
  }
}